<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
          "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title><%= applet.titleize %></title>
    <style type="text/css">
      html, body { margin: 0; padding: 0; height: 100%; }
    </style>
    <%%= javascript_include_tag :defaults %>
  </head>
  <body>
    <%%= applet_tag '<%= applet %>' %>
  </body>
</html>
